*,
body,
html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
li,
ul,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}
body {
  background-color: lightslategray;
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");
/* Navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
}
.hamburger {
  display: none;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.hamburger span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  background-color: white;
  height: 5px;
  width: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.brand {
  display: flex;
  font-family: "Sora", sans-serif;
  font-weight: bolder;
  font-size: 1em;
}
.navlink {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}
.navlink a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  font-family: "Sora", sans-serif;
  font-weight: bolder;
}
.navlink a:hover {
  color: lightslategrey;
}
.navlink--social {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}
.navlink--social a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sora", sans-serif;
  padding-left: 20px;
  font-size: 1.5em;
}
/* Navbar Responsive Mobie */
@media screen and (max-width: 600px) {
  .header {
    z-index: 1;
    display: flex;
  }
  .hamburger {
    display: flex;
  }
  .hamburger input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  .brand {
    position: absolute;
    right: 40%;
  }
  .navlink {
    display: flex;
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 100%;
    width: 80%;
    z-index: -11;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
  }
  .navlink.slide {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
/* Nav End */
.hero {
  margin-top: 50px;
  display: flex;
  height: 700px;
  background-image: url(/assets/carousel1.jpg);
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero h1 {
  background-color: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 20%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
