// https://piccalil.li/blog/a-modern-css-reset
/* Box sizing rules */
*,
*::before,
*::after {
box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
list-style: none;
}

/* Remove Link Font Decoration*/
a{
  text-decoration: none;
}
/* Set core root defaults */
html:focus-within {
scroll-behavior: smooth;
}
/* Set core body defaults */
body {
min-height: 100vh;
text-rendering: optimizeSpeed;
line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
max-width: 100%;
display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
html:focus-within {
scroll-behavior: auto;
}
*,
*::before,
*::after {
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
}
}


/* End Css Reset */
:root{
  --color-100: #333;
  --color-200: ;
  --color-400: ;
  --color-700: ;
  --color-900: ;
  
  --color-primary: whitesmoke;
  --color-secondary:;
  --color-danger: ;
  --color-info: ;
  --color-warning: ;
  --color-succsess: ;
  
  
  --min: 20rem;
  --gap: 1rem;
  --pd-1: 15px 16px;
}
body{
  box-sizing: border-box;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Utility */
.row{
  display: flex;
}
.grid-wrapper{
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit,minmax(min(100%,var(--min)),1fr));
}
.grid-center{
  place-content: center;
}
/* Block */
.btn{
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: 800;
}
/* 
Header Block
*/
.header{
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.logo{
  font-weight: 800;
  color: crimson;
}
.navbar{
  position: fixed;
  height: 0;
  width: 100vw;
  opacity: 0;
  top: 4rem;
  left: 0;
  background-color: var(--color-100);
  overflow: hidden;
  transition: 500ms all;
}
.slide{
  opacity: 100%;
  height: 50vh;
  transition: 500ms all;
}
.hamburger{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 45px;
}
/* 
Header Block End
*/

/*
Hero Block
*/
.hero{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: whitesmoke;
  padding: 0 2rem;
  height: 100vh;
  background-image: url('/assets/hero.jpg');
  background-position: center;
  background-size: cover;
}
.hero * {
  z-index: 1;
}
.hero:after{
  position: absolute;
  content: '';
  height: 100vh;
  width: 100%;
  background-color: black;
  left: 0;
  opacity: .5;
}

/*
Hero Block End
*/

/*
Cards Block
*/
.cards{
  padding: 1rem;
}
.card{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  min-height: 600px;
  max-height: 700px;
}
.card__content{
  padding: 1rem;
  height: 100%;
}
/*
Cards Block End
*/

/*
My Skill Block
*/
.myskill{
  padding: 1.75rem;
}

/*
My Skill End
*/


/* Element */
.btn--primary{
  background-color: crimson;
  color: whitesmoke;
}
.primary__list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navbar__link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pd-1);
  text-align: center;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-weight: 800;
}
.hamburger__line{
  height: 5px;
  width: 100%;
  background-color: whitesmoke;
}
.card__images{
  background-color: whitesmoke;
}
.card__content{
  background-color: crimson;
}
.myskill__top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 3px solid black;
  margin: 1rem auto;
}






/* Desktop BreakPoint */
@media (min-width: 750px){
.navbar{
  display: inline-block;
  background-color: transparent;
  flex-direction: row;
  position: relative;
  height: auto;
  width: auto;
  gap: 1rem;
  opacity: 100%;
  margin: 0;
  transition: none;
  top: 0;
}
.primary__list{
  position: relative;
  display: inline-block;
  height: auto;
  width: auto;
}
.navbar__link{
  display: inline-block;
  height: auto;
  width: auto;
}
.hamburger{
  display: none;
}
}